/* 전체 영역 스타일 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  font-family: "Nanum Gothic", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}

/* 네비게이션 영역 */

.navbar-default {
  /* 배경 색상 */
  background-color: #000000;
  border-color: #000000;
}

.navbar-default .navbar-brand {
  /* 네비게이션 제목 */
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: #bbbbbb;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /* 현재 선택된 네비게이션 색상 이벤트 */
  color: white;
  background-color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /* 네비게이션 글자에 마우스를 올렸을 때 */
  color: #bbbbbb;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /* 드롭다운이 열렸을 때 리스트 색상 이벤트 */
  color: #000000;
  background-color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  /* 네비게이션 메뉴 기본 색상 */
  color: white;
}

@media (max-width: 767px) {
  /* 해상도가 작은 화면에서 드롭다운 아이템에 마우스를 올렸을 때 */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbb;
  }
}
